body {
    text-align: center;
    background-color: #F1F1F1;
}

.container {
    margin-top: 20px;
}


.loading-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.loading-icon.show {
    display: inline-block;
}

.loading-icon::after {
    content: '';
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 5px solid #7C9D96;
    border-top: 5px solid rgb(223, 141, 18);
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}